@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/wbb.js"></script>
    <script type = "module" src="~/js/shader.js"></script>
    <canvas id="gpucanv"></canvas>
</div>
